<div id="hike_details">
  <% if @hike.completed === true %>
    <label>'<%=@hike.hike_name%>' was completed on <%= @hike.date%></label></br>
  <% else %>
    <label>'<%=@hike.hike_name%>' has not been completed</label></br>
  <% end %>
  <label>Hike Details</label></br>
  <label>Region Selected: <%= @hike.trails.first.region %></label></br>
  <label>Trail Selected: <%= @hike.trails.first.trail_name %></label></br>
  <label>Distance Hiked (Km): <%= @hike.hike_distance%></label></br>
  <label>Completion Time (Hrs): <%= @hike.hike_time%></label></br>
</div>