<div id="trails-index">
  <div class="container-fluid">
    <div class="jumbotron">
        <h1><%= @region %> Trail Details</h1>
        <p>All <%=@region%> trails</p>
    </div>
  </div>

  <div id="trails">
    <div class="well">
      <h1>Which trail would you like to hike?</h1>
    </div>

    <div class="trail-links">
      <% @trails.each do |trail| %>
        <a href="/trails/<%= trail.id %>">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item-wrapper">
            <div class="col-xs-6 map-image-div">
              <%= image_tag(trail.map_link, :alt => "icon") %>
              <h4><%= trail.trail_name %></h4>
            </div>
            <div class="col-xs-6 map-info-div">
              <h4>Difficulty (Max = 4): <%= trail.difficulty %></br>
              Length (Max = 4): <%= trail.d_length %></br>
              Time (Max = 4): <%= trail.d_time %></br>
              Gradient (Max = 4): <%= trail.d_gradient %></br>
              Surface (Max = 4): <%= trail.d_surface %></br></br>
              Distance (Km): <%= trail.distance %></br>
              Est. Time (Hrs): <%= trail.est_time %></h4>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
