<h1><%= Trail.trail_name %> Trail Details</h1>

<table class="table">
  <thead class="thread-inverse">
    <tr>
      <th>Point</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Pictures</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= Trail.pt1_name %></th>
      <td><%= Trail.pt1_info %></td>
      <td><%= Trail.pt1_transp %></td>
      <td><%= Trail.pt1_photo %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= Trail.pt2_name %></th>
      <td><%= Trail.pt2_info %></td>
      <td><%= Trail.pt2_transp %></td>
      <td><%= Trail.pt2_photo %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thread-default">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>